.login-bg {
  background: linear-gradient(rgba(204, 0, 255, 0.225), rgba(255, 153, 0, 0.225));
  background-size: cover;
}

.login-card {
  max-width: 370px;
  width: 100%;
  border-radius: 15px;
  background-color: #ffffffd9;
  backdrop-filter: blur(6px);
}

.login-card h2 {
  font-family: sans-serif;
  letter-spacing: 1px;
}

button {
  background-color: rgba(255, 253, 253, 0.411) !important;
  color: black !important;
  font-weight: bold !important;
}

/* ========================================================
   🎯 AJUSTE DE POSICIÓN DEL OJITO (Solución definitiva)
   ======================================================== */
#togglePassword {
  /* Al usar 'top' directo en lugar de 'top-50' y anular el transform,
    forzamos al navegador a subirlo los píxeles exactos que necesitas.
  */
  top: 40px !important; 
  transform: none !important; /* Desactivamos el translate-middle-y de Bootstrap */
  
  /* Removemos cualquier borde o sombra azul de enfoque que da MDBootstrap */
  outline: none !important;
  box-shadow: none !important;
  height: auto !important;
  padding: 0 12px !important;
}

/* Opcional: Dale un color gris sutil y cambia el cursor al pasar por arriba */
#togglePassword i {
  color: #757575;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

#togglePassword:hover i {
  color: #4f4f4f; /* Se oscurece ligeramente al pasar el mouse */
}